<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>PDFButtonSettings.py</string>
			<key>preferredName</key>
			<string>PDF Settings</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Thom Janssen</string>
	<key>developerURL</key>
	<string>http://www.hallotype.nl</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>AddButtonPDFToSC.py</string>
	<key>name</key>
	<string>PDFButtonSpace</string>
	<key>timeStamp</key>
	<real>1399371622.6128809</real>
	<key>version</key>
	<string>1.2</string>
	<key>repository</key>
	<string>thomgb/PDFButtonSpace</string>
	<key>extensionPath</key>
	<string>PDFButtonSpace.roboFontExt</string>
	<key>summary</key>
  	<string>Adds PopUpButton to SpaceCenter. For making PDFs, Blur to SC, add tracking, and more...</string>

</dict>
</plist>
